*{
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}

body{
  font-size: 16px;
  background-color: #EAEAEA;
  font-family: 'Oxygen', sans-serif;
}

#logo-img {
  background: url('../images/logos/logo.png') no-repeat;
  background-size: 100% 100%;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
  float: left;
}
#navhead{
  margin: 15px;
}
#brand{
  margin-left: 180px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 15px;
  margin-bottom: 0;
  line-height: 2.75;
}

.fin{
  clear: both;
}
